:root{

    --background-color: rgb(34, 33, 41);


}


@font-face {
    font-family: 'Source Code Pro';
    src: url('fonts/Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf') format("truetype-variations");
}


@font-face {
    font-family: 'Source Code Pro - italic';
    src: url('fonts/Source_Code_Pro/SourceCodePro-Italic-VariableFont_wght.ttf') format("truetype-variations");
}


body{
    font-family: 'Source Code Pro';
    background-color: var(--background-color);
    color: white;
}


a{
    color: #ffa86a;

    &:visited{
        color: #ffa86a;
    }

}


h1{
    color: #ffa86a;
}

section.bio{
    display: flex;
    justify-content: center;
    gap: 72px;

    >div{
        max-width: 500px;

        >p{
            line-height: 30px;
        }

    }

}


section.contact{
    display: flex;
    justify-content: center;
    align-items: center;
}

dl.contact{
    display: flex;
    align-items: center;


    svg{
        fill: white;
        width: 36px;
        height: auto;
    }

}

.comment{
    color: #80C080;
}


figure{

    border-radius: 50%;
    border: 2px dashed #fff;
    width: 320px;
    height: 320px;
    display: grid;
    place-content: center;

    img{
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 50%;
    }

}


footer{
    opacity: .5;
    display: grid;
    place-content: center;
    font-family: 'Source Code Pro - italic';
}